:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.product-image {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

.rating span {
  color: #f8b739;
}

img.large {
  max-width: 100%;
}

img.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.dropdown-menu[data-bs-popper] {
  left: auto !important;
  right: 0;
}

.form-control {
  background-color: white !important;
  color: #000000 !important;
  border: none !important;
}

.form-control::placeholder {
  color: grey !important;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040 !important;
  color: #000000 !important;
  border-color: #000000 !important;
}


.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
}

a.header-link,
.header-link > a {
  border: 1px rgb(33, 37, 41) solid;
  border-radius: 2px;
  color: white !important;
  font-weight: bold;
}

a.header-link:hover,
.header-link > a:hover {
  color: white;
  border: 1px white solid;
}
.header .dropdown-menu, 
.header .dropdown-item  {
  color: black !important;
  background-color: white;
}

.header .dropdown-item a:hover {
  border: 1px rgb(33, 37, 41) solid;
}
.sub-header {
  background-color: #232f3e;
}
.cart-badge {
  position: absolute;
  color: #f08000;
  font-weight: bold;
  margin-left: 16px;
  margin-top: -3px;
}