:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-image {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

.rating span {
  color: #f8b739;
}

img.large {
  max-width: 100%;
}